<!DOCTYPE html>
<html lang="en">

<head>
    {% include "header.html" %}
</head>

<body>


    {% include "navbar.html" %}




    <h2 class="select-product">Select Product</h2>


    <form class="data-product">
        <div>

            <span>Product :</span><select id="selection" name="cars" id="cars">
                <option value="Spray Bottle">Spray Bottle</option>
                <option value="Urea">Urea</option>
                <option value="Herbicides">Herbicides</option>
                <option value="Seeds">Seeds</option>
                <option value="Insecticides">Insecticides</option>
                <option value="Nutrients">Nutrients</option>
            </select>
        </div>
        <div>

            <span>Quantity :</span><input id="quantity" type="number" value="1" min="1">
        </div>
        <!-- math.random() *  -->
        <!-- index value
           total amount -->
        <button id="add" class="btn btn-primary">Add</button>



    </form>




    <section class="cart-section">
        <h2>Your Cart</h2>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <!-- <th>Remove</th> -->
                </tr>
            </thead>
            <tbody id="cart-body">

                <!-- <tr>
                    <td>Seed Starter Kit</td>
                    <td></td>
                    <td>$20.00</td>
                    <td>$20.00</td>
                     <td><button class="remove-btn">X</button></td> 
                </tr>
                <tr>
                    <td>AI Soil Moisture Sensor</td>
                    <td><input type="number" value="2" min="1"></td>
                    <td>$45.00</td>
                    <td>$90.00</td>
                    <td><button class="remove-btn">X</button></td> 
                </tr> -->
                <!-- Add more items here -->
            </tbody>
        </table>
        
        
        
        
        
        <div class="container">
            <div class="row">
                
                <div class="col-6">
                    <img id="qr-code" src="{{ url_for('static', filename='images/logo/qr.png') }}" alt="">
                </div>
                <div class="col-6">
                    <div class="cart-summary">
                        <h3>Cart Summary</h3>
                       
                        <td><button id="summary-button" class="btn btn-success">Show summary</button></td>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>







    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>


    {% include "cdn.html" %}

</body>

</html>