<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ms-3">
      <img id="logo" src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="logo">
      <a class="navbar-brand ms-2" href="#">Agro Guardian</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-4">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="/#contact">Contact Us</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="/agriculture-products">Agriculture</a>
          </li>

          <li class="nav-item me-4">
            <a class="nav-link" href="/chatbot">ChatBot</a>
          </li>

          <li class="nav-item me-4">
            <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping" style="color: #63E6BE;"></i></a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#">Account</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
